*{  
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px auto;
    padding: 0px;
    color: #333;
}

.wrap{
    width: 100%;
    margin: 0 auto;
}

.intro_bg{
    background-image: url(img/hero-header.png);
    background-size: cover;
    background-position: center center;
    height: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_bg .header_logo{
    margin-top: 280px;
}


.header{
    display: flex;
    height: 60px;
    width: 1200px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: rgb(252, 252, 231, .75);
    border-radius: 0px 0px 16px 16px;
}

.logo{
    padding-top: 16px;
    margin-right: 216px;
    margin-left: 20px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    line-height: 60px;
}

.nav li{
    margin-left: 74px;
    font-size: 12px;
    font-weight: 400;
    transform: scale(1);
    transition: .15s;
    border-bottom: 3px solid none;
    padding-bottom: 2px;
}

.nav li:hover{
    border-bottom: 3px solid #333;

}

.container1{
    width: 1200px;
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.container1 .text1{
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: left;
}

.container1 h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.container1 p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}

.container1 .img .f1{
    margin-right: 42px;
    margin-left: 42px;
}

.container1 .img .f1{
    transform: scale(1);
    transition: .3s ease-in-out;
}

.container1 .img .f1:hover{
    transform: scale(1.05);
}

.container1 .img .f2{
    transform: scale(1);
    transition: .3s ease-in-out;
}

.container1 .img .f2:hover{
    transform: scale(1.05);
}

.colorbox{
    background: #F6F6F6;
    width: 100%;
    height: 510px;
    position: relative;
    display: flex;
}

.container2{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.container2 .img .f4{
    margin-left: 30px;
    margin-right: 30px;
}

.colorbox .container2{
    display: flex;
    justify-content: space-between;
}

.text2{
    text-align: left;
    margin: 0;
    margin-left: 36px;
}

.text2 h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.text2 p{
    font-size: 14px;
    font-weight: 400;
    width: 274px;
    color: rgba(113, 113, 113, 1);
}

.button{
    border: 3px solid rgba(113, 113, 113,.5);
    width: 200px;
    height: 54px;
    margin-left: 0;
    margin-top: 120px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.button:hover{
    border: 3px solid #333;
}

.button a{
    display: block;
    text-align: center;
    line-height: 54px;
}
.slider{
    background: white;
    height: 5px;
    width: 1200px;
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    margin-bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.container3{
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text3 h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.imgtext .f6{
    transform: scale(1);
    transition: .3s;
}
.imgtext .f6:hover{
    transform: scale(1.05);
}

.imgtext .f7{
    transform: scale(1);
    transition: .3s;
}
.imgtext .f7:hover{
    transform: scale(1.05);
}

.imgtext .f8{
    transform: scale(1);
    transition: .3s;
}
.imgtext .f8:hover{
    transform: scale(1.05);
}

.imgtext .f9{
    transform: scale(1);
    transition: .3s;
}
.imgtext .f9:hover{
    transform: scale(1.05);
}


.imgtext{
    display: flex;
    justify-content: center;
    width: 1200px;
}

.imgtext h3{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
}

.footer{
    background:#F6F6F6;
    width: 100%;
    height: 180px;
    padding-top: 30px;
}

.footer .textbox2{
    display: flex;
    width: 1200px;
}

.textbox2 .text{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 150px;
}

.textbox2 .text h4{
    margin-left: 0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 14px;
}

.textbox2 .text h5{
    margin-left: 0;
    font-size: 10px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
    margin-bottom: 12px;
}

.follow h4{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
}

.follow .snsimg a{
    margin-right: 14px;
}

.footer .linetext{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 1200px;
    border-top: 1px solid black;
    padding-top: 14px;
}

.linetext h6{
    font-size: 10px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}

.corp{
    margin-left: 0;
}

.lasttext{
    display: flex;
    margin-right: 0;
}

.lasttext h6{
    margin-left: 60px;
}